.julia.result {
  white-space: normal;
  cursor: default;
  -webkit-user-select: none; }

.julia.result .collapsible-header {
  font-weight: bold; }

.julia.error {
  max-width: 500px;
  white-space: normal;
  cursor: default; }

.julia .error-description {
  font-weight: bold; }

/* Error Highlighting */
.CodeMirror-linebackground {
  transition: all 0.2s linear; }

/* Profiler */
.CodeMirror-code .progress {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: -1; }
  .CodeMirror-code .progress.animated {
    transition: all 0.2s linear; }
  .CodeMirror-code .progress.hidden {
    width: 0 !important;
    opacity: 0; }
