.markdown {
  white-space: normal;
  max-width: 600px; }
  .markdown h1 {
    font-weight: bold;
    width: 100%;
    text-align: right;
    padding-bottom: 5px;
    border-bottom: 1px solid #eee; }
  .markdown code {
    font-family: 'DejaVu Sans Mono', Helvetica, arial, sans-serif;
    color: black;
    margin: 0 2px;
    padding: 0 5px;
    white-space: nowrap;
    border: 1px solid #eaeaea;
    background-color: #f8f8f8;
    border-radius: 3px; }
  .markdown pre {
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    font-size: 13px;
    line-height: 19px;
    overflow: auto;
    padding: 6px 10px;
    border-radius: 3px; }
    .markdown pre code {
      margin: 0;
      padding: 0;
      white-space: pre;
      border: none;
      background: transparent; }
  .markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown li, .markdown table, .markdown pre {
    margin: 10px 0; }
  .markdown h1:first-child, .markdown h2:first-child, .markdown h3:first-child, .markdown h4:first-child, .markdown h5:first-child, .markdown h6:first-child {
    margin-top: 0;
    padding-top: 0; }
