.julia.result {
  font-family: 'DejaVu Sans';
  white-space: normal;
  cursor: auto;
  -webkit-user-select: none;
}

.julia.error {
  max-width: 500px;
  white-space: normal;
}

.julia.error-description {
  font-weight: bold;
}

.CodeMirror-linebackground {
  transition: all 0.2s linear;
}

.CodeMirror-linebackground.error {
  background: rgba(255,100,100,0.3);
}
