.julia.result {
  white-space: nowrap;
  cursor: default;
  -webkit-user-select: none;

  .collapsible-header {
    font-weight: bold;
  }

  .collapsible-content {
    max-width: 500px;
    max-height: 250px;
    overflow: auto;
  }

  table {
    border-collapse: collapse;
    td {
      padding: 3px;
      white-space: nowrap;
    }
  }
}

.julia.error {
  max-width: 500px;
  white-space: normal;
  cursor: default;
}

.julia .error-description {
  font-weight: bold;
}

/* Error Highlighting */

.CodeMirror-linebackground {
  transition: all 0.2s linear;
}

/* Profiler */

.CodeMirror-code {
  .progress {
    display: block;
    position: absolute;
    top:0; left:0; bottom:0;
    z-index: -1;

    &.animated {
      transition: all 0.2s linear;
    }
    &.hidden {
      width:0 !important;
      opacity: 0;
    }
  }
}

/* Status Bar */

#statusbar {
  .clickable:hover {
    text-decoration: underline;
  }
}
