.CodeMirror-linebackground.error {
  background: rgba(255,0,0,0.08);
}

.CodeMirror-code {

  /* Link Highlights */
  .highlight {
    background: rgba(0,255,0,0.1);
  }

}

.CodeMirror-linenumber {
  &.warn {
    color: #AA0;
    &:hover {
      color: #BB0;
    }
  }
  &.stop {
    color: #D00;
    &:hover {
      color: red;
    }
  }
}

.julia {

  .fade {
    color: rgba(0,0,0,0.3);
    font-weight: normal;
  }

  a {
    color: black;
    &:hover {
      text-decoration: underline;
    }
  }

  .collapsible-header span {
    color: rgba(0,0,0,0.3);
    font-weight: normal;
  }

  table {
    color: black;
    td {
      border: 1px solid rgba(0,0,0,0.05);
    }
  }

  table.array {
    tr:nth-child(odd) td:nth-child(even), tr:nth-child(even) td:nth-child(odd) {
      background: rgba(0,0,200,0.04);
    }
  }

  table.data-frame {
    tr:nth-child(even) {
      background: rgba(0,0,200,0.04);
    }
  }
}
