.CodeMirror-code .reptile.slider {
  background-clip: border-box;
  border-bottom: 1px solid #BBB;
  cursor: ew-resize;
  -webkit-user-select: none;

  &:hover {
    border-bottom: 1px solid #666;
  }
}
