{:+
 {:app {"pmeta-j" [:new-file (:set-syntax {:name "Julia"
                                           :exts [:jl]
                                           :mime "text/julia"
                                           :tags [:editor.julia]})]}
  :editor.julia {"ctrl-/" [:toggle-comment-selection]}}}
