{:+
 {:editor.julia {"pmeta-/" [:toggle-comment-selection]
                 "ctrl-m" [:editor.methods.toggle]
                 "pmeta-shift-a" [:editor.select-block]
                 "shift-enter" [:eval.one.move]}}}
