#multi.theme-june .content { background: #f8f8f8; }
#multi.theme-june .list .active, #multi.theme-june .list li:hover { background:#f8f8f8; color:#555; }
#multi.theme-june .list .dirty { color:#f50; }

.cm-s-june { background: white; color: black; }
.cm-s-june span.cm-keyword {color: black; font-weight:bold;}
.cm-s-june span.cm-atom {color: #219;}
.cm-s-june span.cm-number {color: #009999;}
.cm-s-june span.cm-def {color: #833; font-weight: bold;}
.cm-s-june span.cm-property {color: black;}
.cm-s-june span.cm-operator {color: black;}
.cm-s-june span.cm-comment {color: #999988; font-style: italic;}
.cm-s-june span.cm-string {color: #900;}
.cm-s-june span.cm-string-2 {color: #dd1144;}
.cm-s-june span.cm-meta {color: #900; font-weight:bold;}
.cm-s-june span.cm-error {color: #f00; background: #fdd;}
/* .cm-s-june span.cm-qualifier {color: #BBB;} */
.cm-s-june span.cm-builtin {color: #30a;}
.cm-s-june span.cm-bracket {color: #997;}
.cm-s-june span.cm-tag {color: #170;}
.cm-s-june span.cm-attribute {color: #00c;}
.cm-s-june span.cm-header {color: blue;}
.cm-s-june span.cm-quote {color: #090;}
.cm-s-june span.cm-hr {color: #999;}
.cm-s-june span.cm-link {color: #00c;}
.cm-s-june span.cm-symbol {color: black; }

.cm-s-june span.cm-variable-0 {color: #990000;}
.cm-s-june span.cm-variable-1 {color: #995C00;}
.cm-s-june span.cm-variable-2 {color: #7A9900;}
.cm-s-june span.cm-variable-3 {color: #1F9900;}
.cm-s-june span.cm-variable-4 {color: #00993D;}
.cm-s-june span.cm-variable-5 {color: #009999;}
.cm-s-june span.cm-variable-6 {color: #003D99;}
.cm-s-june span.cm-variable-7 {color: #1F0099;}
.cm-s-june span.cm-variable-8 {color: #7A0099;}
.cm-s-june span.cm-variable-9 {color: #99005C;}

.cm-s-june span.cm-qualifier {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.cm-s-june div.CodeMirror-cursor
{
  /* Override the skin setting */
  border-left: 1px solid black !important;
}

.CodeMirror-matchingbracket {
  background: #eee;
}

.CodeMirror-nonmatchingbracket {
  color: #f00; background: #fdd;
}

/* Light Table stuff */

.theme-june .inline-result, .theme-june .underline-result {
  background: white;
  color: black;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
}

.theme-june .inline-doc {
  background: white;
  color: black;
}

.theme-june .inline-exception pre {
  background: #fdd;
  color: #b55;
}

.theme-june .inline-doc pre {
  color: black !important;
}
