.cm-s-june-night { background: #303333; color: white; }
.cm-s-june-night span.cm-keyword {color: #aaa; font-weight:bold;}
.cm-s-june-night span.cm-atom {color: #bfebbf;}
.cm-s-june-night span.cm-number {color: #DCDCCC;}
.cm-s-june-night span.cm-def {color: #DCDCCC; font-weight: bold;}
.cm-s-june-night span.cm-variable {color: #aee;}
.cm-s-june-night span.cm-variable-2 {color: #ffc;}
.cm-s-june-night span.cm-variable-3 {color: #fff;}
.cm-s-june-night span.cm-property {color: white;}
.cm-s-june-night span.cm-operator {color: #F0EFD0;}
.cm-s-june-night span.cm-comment {color: #7F9F7F; font-style: italic;}
.cm-s-june-night span.cm-string {color: #CC9393;}
.cm-s-june-night span.cm-string-2 {color: #cc9393;}
.cm-s-june-night span.cm-meta {color: #F0DFAF; font-weight:bold;}
.cm-s-june-night span.cm-error {background: #633; color: #f99;}
.cm-s-june-night span.cm-qualifier {color: #7cb8bb;}
.cm-s-june-night span.cm-builtin {color: #DCDCCC;}
.cm-s-june-night span.cm-bracket {color: #997;}
.cm-s-june-night span.cm-tag {color: #93e0e3;}
.cm-s-june-night span.cm-attribute {color: #00c;}
.cm-s-june-night span.cm-header {color: blue;}
.cm-s-june-night span.cm-quote {color: #090;}
.cm-s-june-night span.cm-hr {color: #999;}
.cm-s-june-night span.cm-link {color: #00c;}
.cm-s-june-night span.cm-symbol {color: #fff;}

/* Unorthodox */
.cm-s-june-night span.cm-fade {font-weight: normal; color: #777;}

.cm-s-june-night div.CodeMirror-cursor
{
  /* Override the skin setting */
  border-left: 1px solid white !important;
}

.cm-s-june-night .CodeMirror-matchingbracket {
  text-decoration: underline;
  color:white !important;
}

.cm-s-june-night .CodeMirror-nonmatchingbracket {
  color: #f99; background: #900;
}

.cm-s-june-night .CodeMirror-gutter {
  background: #272727 !important;
  border-right: 1px solid #000;
}

.cm-s-june-night .CodeMirror-selected {
  background: #444;
}

/* Light Table stuff */

.cm-s-june-night .inline-result, .cm-s-june-night .inline-doc {
  background: #404444;
  color: #DCDCCC;
  border: 1px solid #222;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 0px #222;
}

.cm-s-june-night .inline-doc pre {
  color: #DCDCCC;
}

.cm-s-june-night .inline-exception pre {
  background: #966;
  color: #dee;
  border: 1px solid #744;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 0px #744;
}

.cm-s-june-night span.cm-variable.cm-hash-0,
.cm-s-june-night span.cm-variable-2.cm-hash-0,
.cm-s-june-night span.cm-def.cm-hash-0 {color: #FFCCCC;}
.cm-s-june-night span.cm-variable.cm-hash-1,
.cm-s-june-night span.cm-variable-2.cm-hash-1,
.cm-s-june-night span.cm-def.cm-hash-1 {color: #FFDBCC;}
.cm-s-june-night span.cm-variable.cm-hash-2,
.cm-s-june-night span.cm-variable-2.cm-hash-2,
.cm-s-june-night span.cm-def.cm-hash-2 {color: #FFEBCC;}
.cm-s-june-night span.cm-variable.cm-hash-3,
.cm-s-june-night span.cm-variable-2.cm-hash-3,
.cm-s-june-night span.cm-def.cm-hash-3 {color: #FFFACC;}
.cm-s-june-night span.cm-variable.cm-hash-4,
.cm-s-june-night span.cm-variable-2.cm-hash-4,
.cm-s-june-night span.cm-def.cm-hash-4 {color: #F5FFCC;}
.cm-s-june-night span.cm-variable.cm-hash-5,
.cm-s-june-night span.cm-variable-2.cm-hash-5,
.cm-s-june-night span.cm-def.cm-hash-5 {color: #E6FFCC;}
.cm-s-june-night span.cm-variable.cm-hash-6,
.cm-s-june-night span.cm-variable-2.cm-hash-6,
.cm-s-june-night span.cm-def.cm-hash-6 {color: #D6FFCC;}
.cm-s-june-night span.cm-variable.cm-hash-7,
.cm-s-june-night span.cm-variable-2.cm-hash-7,
.cm-s-june-night span.cm-def.cm-hash-7 {color: #CCFFD1;}
.cm-s-june-night span.cm-variable.cm-hash-8,
.cm-s-june-night span.cm-variable-2.cm-hash-8,
.cm-s-june-night span.cm-def.cm-hash-8 {color: #CCFFE0;}
.cm-s-june-night span.cm-variable.cm-hash-9,
.cm-s-june-night span.cm-variable-2.cm-hash-9,
.cm-s-june-night span.cm-def.cm-hash-9 {color: #CCFFF0;}
.cm-s-june-night span.cm-variable.cm-hash-10,
.cm-s-june-night span.cm-variable-2.cm-hash-10,
.cm-s-june-night span.cm-def.cm-hash-10 {color: #CCFFFF;}
.cm-s-june-night span.cm-variable.cm-hash-11,
.cm-s-june-night span.cm-variable-2.cm-hash-11,
.cm-s-june-night span.cm-def.cm-hash-11 {color: #CCF0FF;}
.cm-s-june-night span.cm-variable.cm-hash-12,
.cm-s-june-night span.cm-variable-2.cm-hash-12,
.cm-s-june-night span.cm-def.cm-hash-12 {color: #CCE0FF;}
.cm-s-june-night span.cm-variable.cm-hash-13,
.cm-s-june-night span.cm-variable-2.cm-hash-13,
.cm-s-june-night span.cm-def.cm-hash-13 {color: #CCD1FF;}
.cm-s-june-night span.cm-variable.cm-hash-14,
.cm-s-june-night span.cm-variable-2.cm-hash-14,
.cm-s-june-night span.cm-def.cm-hash-14 {color: #D6CCFF;}
.cm-s-june-night span.cm-variable.cm-hash-15,
.cm-s-june-night span.cm-variable-2.cm-hash-15,
.cm-s-june-night span.cm-def.cm-hash-15 {color: #E6CCFF;}
.cm-s-june-night span.cm-variable.cm-hash-16,
.cm-s-june-night span.cm-variable-2.cm-hash-16,
.cm-s-june-night span.cm-def.cm-hash-16 {color: #F5CCFF;}
.cm-s-june-night span.cm-variable.cm-hash-17,
.cm-s-june-night span.cm-variable-2.cm-hash-17,
.cm-s-june-night span.cm-def.cm-hash-17 {color: #FFCCFA;}
.cm-s-june-night span.cm-variable.cm-hash-18,
.cm-s-june-night span.cm-variable-2.cm-hash-18,
.cm-s-june-night span.cm-def.cm-hash-18 {color: #FFCCEB;}
.cm-s-june-night span.cm-variable.cm-hash-19,
.cm-s-june-night span.cm-variable-2.cm-hash-19,
.cm-s-june-night span.cm-def.cm-hash-19 {color: #FFCCDB;}
