/* #multi.theme-june .content { background: #f8f8f8; }
#multi.theme-june .list .active, #multi.theme-june .list li:hover { background:#f8f8f8; color:#555; }
#multi.theme-june .list .dirty { color:#f50; } */

.cm-s-june { background: white; color: black; }
.cm-s-june span.cm-keyword {color: black; font-weight:bold;}
.cm-s-june span.cm-atom {color: #219;}
.cm-s-june span.cm-number {color: #009999;}
.cm-s-june span.cm-def {color: #833; font-weight: bold;}
.cm-s-june span.cm-property {color: black;}
.cm-s-june span.cm-operator {color: black;}
.cm-s-june span.cm-comment {color: #999988; font-style: italic;}
.cm-s-june span.cm-string {color: #900;}
.cm-s-june span.cm-string-2 {color: #dd1144;}
.cm-s-june span.cm-meta {color: #900; font-weight:bold;}
.cm-s-june span.cm-error {color: #f00; background: #fdd;}
.cm-s-june span.cm-qualifier {color: #BBB;}
.cm-s-june span.cm-builtin {color: #30a;}
.cm-s-june span.cm-bracket {color: #997;}
.cm-s-june span.cm-tag {color: #170;}
.cm-s-june span.cm-attribute {color: #00c;}
.cm-s-june span.cm-header {color: blue;}
.cm-s-june span.cm-quote {color: #090;}
.cm-s-june span.cm-hr {color: #999;}
.cm-s-june span.cm-link {color: #00c;}
.cm-s-june span.cm-symbol {color: black; }

.cm-s-june div.CodeMirror-cursor
{
  /* Override the skin setting */
  border-left: 1px solid black !important;
}

.cm-s-june .CodeMirror-matchingbracket {
  background: #eee;
}

.cm-s-june .CodeMirror-nonmatchingbracket {
  color: #f00; background: #fdd;
}

/* Light Table stuff */

.theme-june .inline-result, .theme-june .underline-result {
  background: white;
  color: black;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
}

.theme-june .inline-doc {
  background: white;
  color: black;
}

.theme-june .inline-exception pre {
  background: #fdd;
  color: #b55;
}

.theme-june .inline-doc pre {
  color: black !important;
}

.cm-s-june span.cm-variable-0 {color: #800000;}
.cm-s-june span.cm-def-0 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-1 {color: #800800;}
.cm-s-june span.cm-def-1 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-2 {color: #800F00;}
.cm-s-june span.cm-def-2 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-3 {color: #801700;}
.cm-s-june span.cm-def-3 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-4 {color: #801F00;}
.cm-s-june span.cm-def-4 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-5 {color: #802600;}
.cm-s-june span.cm-def-5 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-6 {color: #802E00;}
.cm-s-june span.cm-def-6 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-7 {color: #803600;}
.cm-s-june span.cm-def-7 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-8 {color: #803D00;}
.cm-s-june span.cm-def-8 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-9 {color: #804500;}
.cm-s-june span.cm-def-9 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-10 {color: #804D00;}
.cm-s-june span.cm-def-10 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-11 {color: #805400;}
.cm-s-june span.cm-def-11 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-12 {color: #805C00;}
.cm-s-june span.cm-def-12 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-13 {color: #806300;}
.cm-s-june span.cm-def-13 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-14 {color: #806B00;}
.cm-s-june span.cm-def-14 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-15 {color: #807300;}
.cm-s-june span.cm-def-15 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-16 {color: #807A00;}
.cm-s-june span.cm-def-16 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-17 {color: #7D8000;}
.cm-s-june span.cm-def-17 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-18 {color: #758000;}
.cm-s-june span.cm-def-18 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-19 {color: #6E8000;}
.cm-s-june span.cm-def-19 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-20 {color: #668000;}
.cm-s-june span.cm-def-20 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-21 {color: #5E8000;}
.cm-s-june span.cm-def-21 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-22 {color: #578000;}
.cm-s-june span.cm-def-22 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-23 {color: #4F8000;}
.cm-s-june span.cm-def-23 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-24 {color: #478000;}
.cm-s-june span.cm-def-24 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-25 {color: #408000;}
.cm-s-june span.cm-def-25 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-26 {color: #388000;}
.cm-s-june span.cm-def-26 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-27 {color: #308000;}
.cm-s-june span.cm-def-27 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-28 {color: #298000;}
.cm-s-june span.cm-def-28 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-29 {color: #218000;}
.cm-s-june span.cm-def-29 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-30 {color: #198000;}
.cm-s-june span.cm-def-30 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-31 {color: #128000;}
.cm-s-june span.cm-def-31 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-32 {color: #0A8000;}
.cm-s-june span.cm-def-32 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-33 {color: #038000;}
.cm-s-june span.cm-def-33 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-34 {color: #008005;}
.cm-s-june span.cm-def-34 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-35 {color: #00800D;}
.cm-s-june span.cm-def-35 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-36 {color: #008014;}
.cm-s-june span.cm-def-36 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-37 {color: #00801C;}
.cm-s-june span.cm-def-37 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-38 {color: #008024;}
.cm-s-june span.cm-def-38 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-39 {color: #00802B;}
.cm-s-june span.cm-def-39 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-40 {color: #008033;}
.cm-s-june span.cm-def-40 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-41 {color: #00803B;}
.cm-s-june span.cm-def-41 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-42 {color: #008042;}
.cm-s-june span.cm-def-42 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-43 {color: #00804A;}
.cm-s-june span.cm-def-43 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-44 {color: #008052;}
.cm-s-june span.cm-def-44 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-45 {color: #008059;}
.cm-s-june span.cm-def-45 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-46 {color: #008061;}
.cm-s-june span.cm-def-46 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-47 {color: #008069;}
.cm-s-june span.cm-def-47 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-48 {color: #008070;}
.cm-s-june span.cm-def-48 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-49 {color: #008078;}
.cm-s-june span.cm-def-49 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-50 {color: #008080;}
.cm-s-june span.cm-def-50 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-51 {color: #007880;}
.cm-s-june span.cm-def-51 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-52 {color: #007080;}
.cm-s-june span.cm-def-52 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-53 {color: #006980;}
.cm-s-june span.cm-def-53 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-54 {color: #006180;}
.cm-s-june span.cm-def-54 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-55 {color: #005980;}
.cm-s-june span.cm-def-55 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-56 {color: #005280;}
.cm-s-june span.cm-def-56 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-57 {color: #004A80;}
.cm-s-june span.cm-def-57 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-58 {color: #004280;}
.cm-s-june span.cm-def-58 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-59 {color: #003B80;}
.cm-s-june span.cm-def-59 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-60 {color: #003380;}
.cm-s-june span.cm-def-60 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-61 {color: #002B80;}
.cm-s-june span.cm-def-61 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-62 {color: #002480;}
.cm-s-june span.cm-def-62 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-63 {color: #001C80;}
.cm-s-june span.cm-def-63 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-64 {color: #001480;}
.cm-s-june span.cm-def-64 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-65 {color: #000D80;}
.cm-s-june span.cm-def-65 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-66 {color: #000580;}
.cm-s-june span.cm-def-66 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-67 {color: #030080;}
.cm-s-june span.cm-def-67 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-68 {color: #0A0080;}
.cm-s-june span.cm-def-68 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-69 {color: #120080;}
.cm-s-june span.cm-def-69 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-70 {color: #1A0080;}
.cm-s-june span.cm-def-70 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-71 {color: #210080;}
.cm-s-june span.cm-def-71 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-72 {color: #290080;}
.cm-s-june span.cm-def-72 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-73 {color: #300080;}
.cm-s-june span.cm-def-73 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-74 {color: #380080;}
.cm-s-june span.cm-def-74 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-75 {color: #400080;}
.cm-s-june span.cm-def-75 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-76 {color: #470080;}
.cm-s-june span.cm-def-76 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-77 {color: #4F0080;}
.cm-s-june span.cm-def-77 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-78 {color: #570080;}
.cm-s-june span.cm-def-78 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-79 {color: #5E0080;}
.cm-s-june span.cm-def-79 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-80 {color: #660080;}
.cm-s-june span.cm-def-80 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-81 {color: #6E0080;}
.cm-s-june span.cm-def-81 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-82 {color: #750080;}
.cm-s-june span.cm-def-82 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-83 {color: #7D0080;}
.cm-s-june span.cm-def-83 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-84 {color: #80007A;}
.cm-s-june span.cm-def-84 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-85 {color: #800073;}
.cm-s-june span.cm-def-85 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-86 {color: #80006B;}
.cm-s-june span.cm-def-86 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-87 {color: #800063;}
.cm-s-june span.cm-def-87 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-88 {color: #80005C;}
.cm-s-june span.cm-def-88 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-89 {color: #800054;}
.cm-s-june span.cm-def-89 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-90 {color: #80004C;}
.cm-s-june span.cm-def-90 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-91 {color: #800045;}
.cm-s-june span.cm-def-91 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-92 {color: #80003D;}
.cm-s-june span.cm-def-92 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-93 {color: #800036;}
.cm-s-june span.cm-def-93 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-94 {color: #80002E;}
.cm-s-june span.cm-def-94 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-95 {color: #800026;}
.cm-s-june span.cm-def-95 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-96 {color: #80001F;}
.cm-s-june span.cm-def-96 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-97 {color: #800017;}
.cm-s-june span.cm-def-97 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-98 {color: #80000F;}
.cm-s-june span.cm-def-98 {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable-99 {color: #800008;}
.cm-s-june span.cm-def-99 {color: #833; font-weight: bold;}
