/* #multi.theme-june-night .content { background: #f8f8f8; }
#multi.theme-june-night .list .active, #multi.theme-june-night .list li:hover { background:#f8f8f8; color:#555; }
#multi.theme-june-night .list .dirty { color:#f50; } */

.cm-s-june-night { background: #303333; color: white; }
.cm-s-june-night span.cm-keyword {color: #F0DFAF; font-weight:bold;}
.cm-s-june-night span.cm-atom {color: #219;}
.cm-s-june-night span.cm-number {color: #DCDCCC;}
.cm-s-june-night span.cm-def {color: #DCDCCC; font-weight: bold;}
.cm-s-june-night span.cm-property {color: white;}
.cm-s-june-night span.cm-operator {color: #F0EFD0;}
.cm-s-june-night span.cm-comment {color: #7F9F7F; font-style: italic;}
.cm-s-june-night span.cm-string {color: #CC9393;}
.cm-s-june-night span.cm-string-2 {color: #dd1144;}
.cm-s-june-night span.cm-meta {color: #F0DFAF; font-weight:bold;}
.cm-s-june-night span.cm-error {color: #f00; background: #fdd;}
.cm-s-june-night span.cm-qualifier {color: #777;}
.cm-s-june-night span.cm-builtin {color: #DCDCCC;}
.cm-s-june-night span.cm-bracket {color: #997;}
.cm-s-june-night span.cm-tag {color: #170;}
.cm-s-june-night span.cm-attribute {color: #00c;}
.cm-s-june-night span.cm-header {color: blue;}
.cm-s-june-night span.cm-quote {color: #090;}
.cm-s-june-night span.cm-hr {color: #999;}
.cm-s-june-night span.cm-link {color: #00c;}
.cm-s-june-night span.cm-symbol {color: black; }

.cm-s-june-night div.CodeMirror-cursor
{
  /* Override the skin setting */
  border-left: 1px solid white !important;
}

.cm-s-june-night .CodeMirror-matchingbracket {
  text-decoration: underline;
}

.cm-s-june-night .CodeMirror-nonmatchingbracket {
  color: #f99; background: #900;
}

/* Light Table stuff */

.theme-june-night .inline-result, .theme-june-night .underline-result {
  background: #303333;
  color: #DCDCCC;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  box-shadow: 2px 2px 0px #222;
}

.theme-june-night .inline-doc {
  background: white;
  color: black;
}

.theme-june-night .inline-exception pre {
  background: #fdd;
  color: #b55;
}

.theme-june-night .inline-doc pre {
  color: black !important;
}

.cm-s-june-night span.cm-variable-0 {color: #FFB3B3;}
.cm-s-june-night span.cm-def-0 {color: #FFB3B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-1 {color: #FFB7B3;}
.cm-s-june-night span.cm-def-1 {color: #FFB7B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-2 {color: #FFBCB3;}
.cm-s-june-night span.cm-def-2 {color: #FFBCB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-3 {color: #FFC0B3;}
.cm-s-june-night span.cm-def-3 {color: #FFC0B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-4 {color: #FFC5B3;}
.cm-s-june-night span.cm-def-4 {color: #FFC5B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-5 {color: #FFC9B3;}
.cm-s-june-night span.cm-def-5 {color: #FFC9B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-6 {color: #FFCEB3;}
.cm-s-june-night span.cm-def-6 {color: #FFCEB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-7 {color: #FFD3B3;}
.cm-s-june-night span.cm-def-7 {color: #FFD3B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-8 {color: #FFD7B3;}
.cm-s-june-night span.cm-def-8 {color: #FFD7B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-9 {color: #FFDCB3;}
.cm-s-june-night span.cm-def-9 {color: #FFDCB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-10 {color: #FFE0B3;}
.cm-s-june-night span.cm-def-10 {color: #FFE0B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-11 {color: #FFE5B3;}
.cm-s-june-night span.cm-def-11 {color: #FFE5B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-12 {color: #FFEAB3;}
.cm-s-june-night span.cm-def-12 {color: #FFEAB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-13 {color: #FFEEB3;}
.cm-s-june-night span.cm-def-13 {color: #FFEEB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-14 {color: #FFF3B3;}
.cm-s-june-night span.cm-def-14 {color: #FFF3B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-15 {color: #FFF7B3;}
.cm-s-june-night span.cm-def-15 {color: #FFF7B3; font-weight: bold;}
.cm-s-june-night span.cm-variable-16 {color: #FFFCB3;}
.cm-s-june-night span.cm-def-16 {color: #FFFCB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-17 {color: #FDFFB3;}
.cm-s-june-night span.cm-def-17 {color: #FDFFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-18 {color: #F9FFB3;}
.cm-s-june-night span.cm-def-18 {color: #F9FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-19 {color: #F4FFB3;}
.cm-s-june-night span.cm-def-19 {color: #F4FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-20 {color: #F0FFB3;}
.cm-s-june-night span.cm-def-20 {color: #F0FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-21 {color: #EBFFB3;}
.cm-s-june-night span.cm-def-21 {color: #EBFFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-22 {color: #E7FFB3;}
.cm-s-june-night span.cm-def-22 {color: #E7FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-23 {color: #E2FFB3;}
.cm-s-june-night span.cm-def-23 {color: #E2FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-24 {color: #DDFFB3;}
.cm-s-june-night span.cm-def-24 {color: #DDFFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-25 {color: #D9FFB3;}
.cm-s-june-night span.cm-def-25 {color: #D9FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-26 {color: #D4FFB3;}
.cm-s-june-night span.cm-def-26 {color: #D4FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-27 {color: #D0FFB3;}
.cm-s-june-night span.cm-def-27 {color: #D0FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-28 {color: #CBFFB3;}
.cm-s-june-night span.cm-def-28 {color: #CBFFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-29 {color: #C6FFB3;}
.cm-s-june-night span.cm-def-29 {color: #C6FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-30 {color: #C2FFB3;}
.cm-s-june-night span.cm-def-30 {color: #C2FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-31 {color: #BDFFB3;}
.cm-s-june-night span.cm-def-31 {color: #BDFFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-32 {color: #B9FFB3;}
.cm-s-june-night span.cm-def-32 {color: #B9FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-33 {color: #B4FFB3;}
.cm-s-june-night span.cm-def-33 {color: #B4FFB3; font-weight: bold;}
.cm-s-june-night span.cm-variable-34 {color: #B3FFB6;}
.cm-s-june-night span.cm-def-34 {color: #B3FFB6; font-weight: bold;}
.cm-s-june-night span.cm-variable-35 {color: #B3FFBA;}
.cm-s-june-night span.cm-def-35 {color: #B3FFBA; font-weight: bold;}
.cm-s-june-night span.cm-variable-36 {color: #B3FFBF;}
.cm-s-june-night span.cm-def-36 {color: #B3FFBF; font-weight: bold;}
.cm-s-june-night span.cm-variable-37 {color: #B3FFC3;}
.cm-s-june-night span.cm-def-37 {color: #B3FFC3; font-weight: bold;}
.cm-s-june-night span.cm-variable-38 {color: #B3FFC8;}
.cm-s-june-night span.cm-def-38 {color: #B3FFC8; font-weight: bold;}
.cm-s-june-night span.cm-variable-39 {color: #B3FFCD;}
.cm-s-june-night span.cm-def-39 {color: #B3FFCD; font-weight: bold;}
.cm-s-june-night span.cm-variable-40 {color: #B3FFD1;}
.cm-s-june-night span.cm-def-40 {color: #B3FFD1; font-weight: bold;}
.cm-s-june-night span.cm-variable-41 {color: #B3FFD6;}
.cm-s-june-night span.cm-def-41 {color: #B3FFD6; font-weight: bold;}
.cm-s-june-night span.cm-variable-42 {color: #B3FFDA;}
.cm-s-june-night span.cm-def-42 {color: #B3FFDA; font-weight: bold;}
.cm-s-june-night span.cm-variable-43 {color: #B3FFDF;}
.cm-s-june-night span.cm-def-43 {color: #B3FFDF; font-weight: bold;}
.cm-s-june-night span.cm-variable-44 {color: #B3FFE3;}
.cm-s-june-night span.cm-def-44 {color: #B3FFE3; font-weight: bold;}
.cm-s-june-night span.cm-variable-45 {color: #B3FFE8;}
.cm-s-june-night span.cm-def-45 {color: #B3FFE8; font-weight: bold;}
.cm-s-june-night span.cm-variable-46 {color: #B3FFED;}
.cm-s-june-night span.cm-def-46 {color: #B3FFED; font-weight: bold;}
.cm-s-june-night span.cm-variable-47 {color: #B3FFF1;}
.cm-s-june-night span.cm-def-47 {color: #B3FFF1; font-weight: bold;}
.cm-s-june-night span.cm-variable-48 {color: #B3FFF6;}
.cm-s-june-night span.cm-def-48 {color: #B3FFF6; font-weight: bold;}
.cm-s-june-night span.cm-variable-49 {color: #B3FFFA;}
.cm-s-june-night span.cm-def-49 {color: #B3FFFA; font-weight: bold;}
.cm-s-june-night span.cm-variable-50 {color: #B3FFFF;}
.cm-s-june-night span.cm-def-50 {color: #B3FFFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-51 {color: #B3FAFF;}
.cm-s-june-night span.cm-def-51 {color: #B3FAFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-52 {color: #B3F6FF;}
.cm-s-june-night span.cm-def-52 {color: #B3F6FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-53 {color: #B3F1FF;}
.cm-s-june-night span.cm-def-53 {color: #B3F1FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-54 {color: #B3EDFF;}
.cm-s-june-night span.cm-def-54 {color: #B3EDFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-55 {color: #B3E8FF;}
.cm-s-june-night span.cm-def-55 {color: #B3E8FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-56 {color: #B3E3FF;}
.cm-s-june-night span.cm-def-56 {color: #B3E3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-57 {color: #B3DFFF;}
.cm-s-june-night span.cm-def-57 {color: #B3DFFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-58 {color: #B3DAFF;}
.cm-s-june-night span.cm-def-58 {color: #B3DAFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-59 {color: #B3D6FF;}
.cm-s-june-night span.cm-def-59 {color: #B3D6FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-60 {color: #B3D1FF;}
.cm-s-june-night span.cm-def-60 {color: #B3D1FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-61 {color: #B3CDFF;}
.cm-s-june-night span.cm-def-61 {color: #B3CDFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-62 {color: #B3C8FF;}
.cm-s-june-night span.cm-def-62 {color: #B3C8FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-63 {color: #B3C3FF;}
.cm-s-june-night span.cm-def-63 {color: #B3C3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-64 {color: #B3BFFF;}
.cm-s-june-night span.cm-def-64 {color: #B3BFFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-65 {color: #B3BAFF;}
.cm-s-june-night span.cm-def-65 {color: #B3BAFF; font-weight: bold;}
.cm-s-june-night span.cm-variable-66 {color: #B3B6FF;}
.cm-s-june-night span.cm-def-66 {color: #B3B6FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-67 {color: #B4B3FF;}
.cm-s-june-night span.cm-def-67 {color: #B4B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-68 {color: #B9B3FF;}
.cm-s-june-night span.cm-def-68 {color: #B9B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-69 {color: #BDB3FF;}
.cm-s-june-night span.cm-def-69 {color: #BDB3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-70 {color: #C2B3FF;}
.cm-s-june-night span.cm-def-70 {color: #C2B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-71 {color: #C6B3FF;}
.cm-s-june-night span.cm-def-71 {color: #C6B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-72 {color: #CBB3FF;}
.cm-s-june-night span.cm-def-72 {color: #CBB3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-73 {color: #D0B3FF;}
.cm-s-june-night span.cm-def-73 {color: #D0B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-74 {color: #D4B3FF;}
.cm-s-june-night span.cm-def-74 {color: #D4B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-75 {color: #D9B3FF;}
.cm-s-june-night span.cm-def-75 {color: #D9B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-76 {color: #DDB3FF;}
.cm-s-june-night span.cm-def-76 {color: #DDB3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-77 {color: #E2B3FF;}
.cm-s-june-night span.cm-def-77 {color: #E2B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-78 {color: #E7B3FF;}
.cm-s-june-night span.cm-def-78 {color: #E7B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-79 {color: #EBB3FF;}
.cm-s-june-night span.cm-def-79 {color: #EBB3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-80 {color: #F0B3FF;}
.cm-s-june-night span.cm-def-80 {color: #F0B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-81 {color: #F4B3FF;}
.cm-s-june-night span.cm-def-81 {color: #F4B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-82 {color: #F9B3FF;}
.cm-s-june-night span.cm-def-82 {color: #F9B3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-83 {color: #FDB3FF;}
.cm-s-june-night span.cm-def-83 {color: #FDB3FF; font-weight: bold;}
.cm-s-june-night span.cm-variable-84 {color: #FFB3FC;}
.cm-s-june-night span.cm-def-84 {color: #FFB3FC; font-weight: bold;}
.cm-s-june-night span.cm-variable-85 {color: #FFB3F7;}
.cm-s-june-night span.cm-def-85 {color: #FFB3F7; font-weight: bold;}
.cm-s-june-night span.cm-variable-86 {color: #FFB3F3;}
.cm-s-june-night span.cm-def-86 {color: #FFB3F3; font-weight: bold;}
.cm-s-june-night span.cm-variable-87 {color: #FFB3EE;}
.cm-s-june-night span.cm-def-87 {color: #FFB3EE; font-weight: bold;}
.cm-s-june-night span.cm-variable-88 {color: #FFB3EA;}
.cm-s-june-night span.cm-def-88 {color: #FFB3EA; font-weight: bold;}
.cm-s-june-night span.cm-variable-89 {color: #FFB3E5;}
.cm-s-june-night span.cm-def-89 {color: #FFB3E5; font-weight: bold;}
.cm-s-june-night span.cm-variable-90 {color: #FFB3E0;}
.cm-s-june-night span.cm-def-90 {color: #FFB3E0; font-weight: bold;}
.cm-s-june-night span.cm-variable-91 {color: #FFB3DC;}
.cm-s-june-night span.cm-def-91 {color: #FFB3DC; font-weight: bold;}
.cm-s-june-night span.cm-variable-92 {color: #FFB3D7;}
.cm-s-june-night span.cm-def-92 {color: #FFB3D7; font-weight: bold;}
.cm-s-june-night span.cm-variable-93 {color: #FFB3D3;}
.cm-s-june-night span.cm-def-93 {color: #FFB3D3; font-weight: bold;}
.cm-s-june-night span.cm-variable-94 {color: #FFB3CE;}
.cm-s-june-night span.cm-def-94 {color: #FFB3CE; font-weight: bold;}
.cm-s-june-night span.cm-variable-95 {color: #FFB3C9;}
.cm-s-june-night span.cm-def-95 {color: #FFB3C9; font-weight: bold;}
.cm-s-june-night span.cm-variable-96 {color: #FFB3C5;}
.cm-s-june-night span.cm-def-96 {color: #FFB3C5; font-weight: bold;}
.cm-s-june-night span.cm-variable-97 {color: #FFB3C0;}
.cm-s-june-night span.cm-def-97 {color: #FFB3C0; font-weight: bold;}
.cm-s-june-night span.cm-variable-98 {color: #FFB3BC;}
.cm-s-june-night span.cm-def-98 {color: #FFB3BC; font-weight: bold;}
.cm-s-june-night span.cm-variable-99 {color: #FFB3B7;}
.cm-s-june-night span.cm-def-99 {color: #FFB3B7; font-weight: bold;}
