.cm-s-june { background: white; color: black; }
.cm-s-june span.cm-keyword {color: black; font-weight:bold;}
.cm-s-june span.cm-atom {color: #219;}
.cm-s-june span.cm-number {color: #009999;}
.cm-s-june span.cm-def {color: #833; font-weight: bold;}
.cm-s-june span.cm-variable {color: black;}
.cm-s-june span.cm-variable-2 {color: black;}
.cm-s-june span.cm-variable-3 {color: black;}
.cm-s-june span.cm-property {color: black;}
.cm-s-june span.cm-operator {color: black;}
.cm-s-june span.cm-comment {color: #999988; font-style: italic;}
.cm-s-june span.cm-string {color: #900;}
.cm-s-june span.cm-string-2 {color: #dd1144;}
.cm-s-june span.cm-meta {color: #900; font-weight:bold;}
.cm-s-june span.cm-error {color: #f00; background: #fdd;}
.cm-s-june span.cm-qualifier {color: #555;}
.cm-s-june span.cm-builtin {color: #30a;}
.cm-s-june span.cm-bracket {color: #997;}
.cm-s-june span.cm-tag {color: #170;}
.cm-s-june span.cm-attribute {color: #00c;}
.cm-s-june span.cm-header {color: blue;}
.cm-s-june span.cm-quote {color: #090;}
.cm-s-june span.cm-hr {color: #999;}
.cm-s-june span.cm-link {color: #00c;}
.cm-s-june span.cm-symbol {color: #077;}

/* Unorthodox */
.cm-s-june span.cm-fade {font-weight: normal; color: #bbb;}

.cm-s-june div.CodeMirror-cursor
{
  /* Override the skin setting */
  border-left: 1px solid black !important;
}

.cm-s-june .CodeMirror-matchingbracket {
  text-decoration: underline;
}

.cm-s-june .CodeMirror-nonmatchingbracket {
  color: #f00; background: #fdd;
}

.cm-s-june .CodeMirror-gutter {
  background: #eee !important;
  border-right: 1px solid #bbb;
}

.cm-s-june .CodeMirror-selected {
  background: #eee;
}

/* Light Table stuff */

.cm-s-june .inline-result, .cm-s-june .inline-doc {
  background: white;
  color: black;

  border: 1px solid #e1e1e1;
  box-shadow: 1px 1px 0px #e1e1e1;
  -webkit-border-radius: 5px;
}

.cm-s-june .inline-exception pre {
  background: #fdd;
  color: #b55;

  border: 1px solid #eaa;
  box-shadow: 1px 1px 0px #eaa;
  -webkit-border-radius: 5px;
}

.cm-s-june .inline-doc pre {
  color: black !important;
}
